Integra Bank/backend/integra/src/main/resources/application.properties
/Integra Bank/backend/integra/target
Integra Bank/backend/integra/src/all_classes.txt
Integra Bank/backend/integra/src/script.txt
/Integra Bank/backend/integra/all_classes.txt
