<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 <title>Integra Bank - Home</title>
 <script src="https://cdn.tailwindcss.com"></script>
 <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 <link href="/styles/bank/dash/style.css" rel="stylesheet" />
 <style>
  .dashboard-card {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  }

  .transaction-item {
      padding: 10px 0;
      border-bottom: 1px solid #e2e8f0;
  }

  .transaction-item:last-child {
      border-bottom: none;
  }

  .transaction-amount {
      margin-top: 20px; /* Increased margin for the transaction amount */
  }
 </style>
</head>
<body class="bg-gray-200 min-h-screen flex">
<div class="sidebar">
 <div class="p-2 flex flex-col items-center">
  <div class="logo-fancy">
   <img alt="Bank logo placeholder" class="side-content" height="100" src="/styles/logo/logo1.png" width="100"/>
   <h1 class="text-2xl text-center" style="font-family: 'Inknut Antiqua', serif;">Integra</h1>
   <div class="separator"></div>
  </div>
 </div>
 <nav class="menu">
  <a href="#">Home</a>
  <a href="#">Accounts</a>
  <a href="#">Transactions</a>
  <a href="#">Payments</a>
  <a href="#">Settings</a>
  <a href="#" class="your-class" onclick="document.getElementById('logoutForm').submit();">Logout</a>
  <form id="logoutForm" th:action="@{/user/logout}" method="post" style="display: none;">
  </form>
 </nav>
</div>
<div class="main-content p-8">
 <h2 class="text-3xl font-bold mb-6">Welcome, <span th:text="${user.firstName}"></span>!</h2>

 <div class="dashboard-card mb-6">
  <h3 class="text-xl font-semibold mb-2">Your Balance</h3>
  <p class="text-2xl font-bold text-green-500"><span th:text="${balance}"></span></p>
 </div>

 <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
  <div class="dashboard-card bg-white rounded-lg shadow-md p-6 col-span-2">
   <h3 class="text-2xl font-bold text-gray-800 mb-4">Recent Transactions</h3>
   <ul>
    <li class="transaction-item mb-4 pb-4 border-b border-gray-200 last:border-b-0 last:mb-0 last:pb-0" th:each="t : ${transactions}">
     <div class="flex justify-between items-center">
      <div>
       <p class="font-semibold text-gray-900" th:text="'From: ' + ${t.from}"></p>
       <p class="font-semibold text-gray-900" th:text="'To: ' + ${t.to}"></p>
       <p class="text-sm text-gray-600 mt-1" th:text="${t.description}"></p>
       <p class="text-xs text-gray-400 mt-1" th:text="${#temporals.format(t.timestamp, 'dd MMM. HH:mm')}"></p>
      </div>
      <div>
       <p th:if="${t.type == 'SENT'}"
          class="text-right font-extrabold text-lg text-red-600"
          th:text="'-' + '$' + ${t.amount}">
       </p>

       <p th:if="${t.type == 'RECEIVED'}"
          class="text-right font-extrabold text-lg text-green-600"
          th:text="'+' + '$' + ${t.amount}">
       </p>
      </div>

     </div>
    </li>
   </ul>
   <a href="/user/transactions" class="block mt-6 text-base text-blue-600 hover:underline hover:text-blue-700 transition duration-300 ease-in-out">View All Transactions</a>
  </div>

  <div class="dashboard-card">
   <h3 class="text-xl font-semibold mb-2">USD/UAH Exchange Rate</h3>
   <p class="text-2xl font-bold text-blue-500"><strong th:text="${usdToUah.buy}"></strong>/<strong th:text="${usdToUah.sale}"></strong></p>
  </div>

  <div class="dashboard-card">
   <h3 class="text-xl font-semibold mb-2">Transfer Money</h3>
   <form th:action="@{/user/transfer}" method="post" class="flex flex-col space-y-3">
    <input type="hidden" name="senderId" th:value="${user.userId}"/>
    <div>
     <label for="recipientId" class="block text-gray-700 text-sm font-bold mb-2">Recipient ID:</label>
     <input type="text" id="recipientId" name="recipientId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter recipient ID" required>
    </div>
    <div>
     <label for="amount" class="block text-gray-700 text-sm font-bold mb-2">Amount:</label>
     <input type="decimal" id="amount" name="amount" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter amount" required>
    </div>
    <button
            class="w-full py-2 text-white font-semibold rounded shadow-md transition-colors duration-200"
            style="background-color: #7B9A6D;"
            onmouseover="this.style.backgroundColor='#6C895F';"
            onmouseout="this.style.backgroundColor='#7B9A6D';"
            type="submit"
    >
     Send
    </button>
   </form>
  </div>
 </div>
</div>

<!-- Уведомление об успешной транзакции -->
<div id="transactionNotification"
     th:if="${param.transactionSuccess}"
     class="fixed top-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg transition-opacity duration-500 opacity-100">
 Transaction successful.
</div>

<script>
 // Убираем уведомление транзакции
 setTimeout(() => {
     const transNotif = document.getElementById("transactionNotification");
     if (transNotif) {
         transNotif.style.opacity = '0';
         setTimeout(() => transNotif.remove(), 500);
     }
 }, 3000);
</script>
</body>
</html>
