<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Password change</title>
</head>
<body>
<h2>Password change</h2>

<form th:action="@{/user/reset-password}" method="post">
  <input type="hidden" name="token" th:value="${token}" />

  <label for="password">New password:</label><br/>
  <input type="password" id="password" name="password" required minlength="6" /><br/><br/>

  <button type="submit">Change password</button>
</form>

</body>
</html>
