    body {
        font-family: 'Georgia', serif;
    }

    /* Sidebar */
    .sidebar {
        width: 13%;
        background-color: #7B9A6D;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }

    .menu a {
        padding: 10px 16px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        display: block;
        transition: background 0.3s;
        text-align: center;
        font-size: 1.1rem;
    }

    .menu a:hover {
        background-color: #5F7F56;
    }

    .menu button {
        all: unset; /* Сбрасывает все стили кнопки */
        padding: 10px 16px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        display: block;
        transition: background 0.3s;
        text-align: center;
        font-size: 1.1rem;
    }

    .menu button:hover {
        background-color: #5F7F56;
    }


    /* Main Content */
    .main-content {
        width: 75%;
        padding: 32px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
    }

    .card {
        background: white;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
        color: #333;
    }

    .card p {
        color: #4a4a4a;
    }

    .logo-fancy img {
        width: 100px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); /* Deep shadow */
    }

.logo-fancy h1 {
    font-family: 'Inknut Antiqua', serif;
    color: black;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px; /* Добавляем отступ вниз */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #100707;
    opacity: 0.5;
    margin: 0;
}
